{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
About
{% endblock %}

{% block body_block %}
<div>
    <h1>Rango says here is the about page</h1>
    <div>
        here is the about page<br/>
        This tutorial has been put together by Sotiris Michael.
        {% if visits %}
        <h4>You have visited the site {{ visits }} times.</h4>
        {% endif %}
        <strong>{{ boldmessage }}</strong><br/>
        <img src="{{ MEDIA_URL}}cat.jpg"
             alt="Picture of Cat"/> <!-- New line --><br>
        <img src="{% static 'images/rango.jpg' %}"
             alt="Picture of Rango"/> <!-- New line -->
    </div>
</div>
{% endblock %}